$shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
$blue: #03a3d8;
$darkBlue: #1d3039;
$darkBluePlus: #0f222b;
$skills: #274350;
$red: #ff4154;
$duration: .3s;
$pi: 3.14;
$menu-items: 4;
$open-distance: 105px;
$opening-angle: $pi*2;
